@import"_normalize";
@font-face {
    font-family: 'Gilroy, sans-serif';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif, serif';
    src: url('../fonts/PTSerif-Bold.woff2') format('woff2'), url('../fonts/PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif, serif';
    src: url('../fonts/PTSerif-Regular.woff2') format('woff2'), url('../fonts/PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* 

*/

*,
html,
body {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gilroy, sans-serif';
}

body {
    overflow-x: hidden;
}

a,
a:visited {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* @STONEMAG  header*/

.header {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    // .header__container
    &__container {
        padding-top: 25px;
    }
    // .header__links
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        text-align: center;
    }
    // .header__link
    &__link {}
    // .header__link--logo
    &__link--logo {
        margin-right: 30px;
        img {
            display: flex;
        }
    }
    // .header__link--block
    &__link--block {
        display: flex;
        align-items: center;
        margin: 0 5px;
    }
    // .header__link--email
    &__link--email {
        padding-left: 10px;
    }
    // .header__link--tel
    &__link--tel {
        padding-left: 8px;
    }
}

.button-header {
    border: 1px solid #FFB75E;
    font-size: 1.125em;
    line-height: 18px;
    border-radius: 26px;
    padding: 16px 24px;
    margin-left: 30px;
}


/*  */


/* @STONEMAG  main-block*/

.main-block {
    background-image: url('../img/mainblock/bg_img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-size: auto auto;  */
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 1019px;
    color: #ffffff;
    // .main-block__container
    &__container {}
    // .main-block__info
    &__info {
        display: flex;
        justify-content: center;
        padding-top: 192px;
        padding-bottom: 10px;
    }
    // .main-block__content
    &__content {
        flex: 0 1 775px;
        padding-right: 11px;
    }
    // .main-block__title
    &__title h2 {
        font-family: 'PT Serif, serif';
        font-size: 2.375em;
        font-weight: 400;
        line-height: 57px;
        margin-top: 1px;
        span {
            font-weight: 700;
        }
    }
    // .main-block__ticket
    &__ticket {
        display: flex;
        margin-top: 27px;
    }
    // .main-block__action
    &__action {
        border-left: 4px solid #FFB75E;
        padding-left: 25px;
        margin-top: 46px;
        margin-bottom: 70px;
    }
    // .main-block__time
    &__time {
        font-family: 'PT Serif, serif';
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 4px;
    }
    // .main-block__discount
    &__discount {
        font-weight: 400;
        font-size: 1em;
        line-height: 24px;
        p {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
    // .main-block__arrow
    &__arrow {
        width: 94px;
        margin-top: 4px;
        margin-left: 60px;
        img {
            display: block;
            width: 100%;
        }
        svg {
            width: 94px;
        }
    }
    // .main-block__items
    &__items {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 40px;
    }
    // .main-block__item
    &__item {
        display: flex;
        align-items: center;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    // .main-block__icon
    &__icon {
        img {
            display: flex;
        }
    }
    // .main-block__benefit
    &__benefit {
        width: 245px;
        max-width: 245px;
        p {
            font-weight: 400;
            font-size: 1.125em;
            line-height: 24px;
            margin: 0;
            padding-left: 25px;
        }
    }
    // .main-block__items--two
    &__items--two {
        margin-bottom: 0px;
    }
}


/* @  main-form */

.main-form {
    flex: 0 0 370px;
    align-self: center;
    height: 450px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px;
    margin-top: 2px;
    // .main-form__inner
    &__inner {
        width: 100%;
        height: 428px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        text-align: center;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
    }
    // .main-form__title
    &__title {
        font-family: 'PT Serif, serif';
        font-weight: 400;
        font-size: 1.625em;
        line-height: 36.5px;
        margin-top: 16px;
        margin-bottom: 3px;
    }
    // .main-form__info
    &__info {
        font-size: 1em;
        line-height: 24px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 25px;
    }
}

.form {
    margin: 0;
    padding: 0;
}

.form-item {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 0.875em;
    line-height: 14px;
    width: 100%;
    margin-bottom: 0px;
    // .form-item__label
    &__label {
        position: relative;
        overflow: hidden;
    }
    // .form-item__input
    &__input {
        display: block;
        width: 100%;
        height: 29px;
        padding: 3px 3px 3px 3px;
        outline: none;
        border: none;
        background: none;
        color: #ffffff;
    }
    // .form-item__placeholder
    &__placeholder {
        z-index: 100;
        left: 10px;
        cursor: text;
        position: absolute;
        top: 1px;
        left: 5px;
        width: 100%;
        display: none;
        color: #ffffff;
        font-size: 0.875em;
        text-transform: uppercase;
        padding-left: 2px;
    }
    // .form-item__checkbox
    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    // .form-item__label2
    &__label2 {
        font-size: 0.8125em;
        line-height: 15.6px;
        color: #A3A3A3;
        a {
            color: #A3A3A3;
            text-decoration: underline;
        }
    }
}

input.form-item__input::placeholder {
    color: #fff;
    background-color: transparent;
}

.form-item__label input:invalid+.form-item__placeholder {
    display: inline;
}

.form-item__placeholder span {
    color: #FFB75E;
}


/* input.form-item__input::placeholder {
	color: #fff;
	background-color: transparent;
} */

.form-item--one {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 30px;
    &::before {
        content: "";
        display: block;
        background: url("../img/mainblock/main-from3.svg") no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        float: left;
        margin: -11px 7px 0 10px;
    }
}

.form-item--two {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 20px;
    &::before {
        content: "";
        display: block;
        background: url("../img/mainblock/main-from1.svg") no-repeat;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        float: left;
        margin: -11px 7px 0 10px;
    }
}

.form-item--three,
.form-item--four {
    width: 100%;
    position: relative;
    margin: 1px 0px;
    margin-bottom: 20px;
    text-align: center;
    label {
        margin: 0;
    }
    margin-top: -1px;
    margin-bottom: 18px;
}

.input-file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    // .input-file__button
    &__button {
        width: 100%;
        /* max-width: 285px; */
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;
    }
    // .input-file__icon
    &__icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        margin-left: 9px;
        display: block, !important;
    }
    &__text {
        font-size: 1em;
        color: #FFB75E;
        line-height: 16px;
        margin-top: 1px;
        /* margin-left: -2px; */
        span {
            font-size: 0.875em;
            line-height: 14px;
            color: #A3A3A3;
        }
    }
    // .input-file__img
    &__img {
        display: block;
    }
}


/* @.form-item--four {} */

.input-calculate {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    // .input-calculate__button2
    &__button2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #FFB75E 0%, #ED8F03 100%);
        box-shadow: 0px 3px 0px #C67702;
        border-radius: 9999px;
        cursor: pointer;
        padding: 14px 41px;
    }
    // .input-calculate__info
    &__info {
        font-size: 1em;
        color: #FFFFFF;
        line-height: 19px;
        letter-spacing: 1px;
        font-weight: 700;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
        margin-top: 1px;
        span {
            font-size: 0.875em;
            line-height: 17px;
        }
    }
}

.form-item--five {
    /*   display: block;
    width: 100%; */
    display: flex;
    justify-content: start;
    padding: 0px -10px;
    margin: 0px 0px 0px 2px;
}

.form-item__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.form-item__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.25em;
    padding: 1px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}


/* @ стили для чекбокса, находящегося в состоянии checked */

.form-item__checkbox:checked+label::before {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.25);
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); */
    background-image: url('../img/mainblock/tick.svg');
}


/* @ стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */

.form-item__checkbox:focus:not(:checked)+label::before {
    border-color: rgba(255, 255, 255, 0.25);
}


/* @ стили для чекбокса, находящегося в состоянии disabled */

.form-item__checkbox:disabled+label::before {
    background-color: rgba(255, 255, 255, 0.25);
}


/* 







*/

.advantage {
    margin-top: 120px;
    margin-bottom: 120px;
    // .advantage__container
    &__container {}
    // .advantage__title
    &__title {
        font-family: 'PT Serif, serif';
        font-weight: 400;
        font-size: 2.8125em;
        color: #0F0F0F;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
        span {
            font-weight: 700;
            color: #FFB75E;
        }
    }
    // .advantage__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
    }
    // .advantage__item
    &__item {
        flex: 0 1 33.33333%;
        /* max-width: 309px; */
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    // .advantage__icon
    &__icon {
        width: 100px;
        height: 100px;
    }
    // .advantage__text
    &__text {
        display: inline-block;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #444444;
        margin-left: 25px;
    }
}


/*  */

.services {
    background-image: url('../img/services/portfolio-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 120px;
    // .services__container
    &__container {}
    // .services__title
    &__title {
        font-family: 'PT Serif', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #0F0F0F;
    }
    // .services__items
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 52px;
        margin: 0 -15px;
    }
    // .services__item
    &__item {
        margin: 15px;
        filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
    }
    &__card {
        width: 370px;
        height: 250px;
        /* background-image: url('../img/services/portfolio-1.png'); */
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }
    &__image {
        width: 401px;
        height: 264px;
        position: absolute;
        top: -10px;
        left: -15px;
    }
    &__image--one {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-1.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--two {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-3.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--three {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-2.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--four {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-4.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--five {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-5.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--six {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-6.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--seven {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-7.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--eight {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-8.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--nine {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-9.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    &__image--ten {
        background: linear-gradient(40.85deg, rgba(0, 0, 0, 0.6) 20.14%, rgba(0, 0, 0, 0) 61.79%), url('../img/services/portfolio-10.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 370px 250px;
        background-size: cover;
    }
    /*  &__image {
        width: 370px;
        height: 250px;
        position: absolute;
        top: -9px;
        left: -30px;
        opacity: 100%;
        img {
            height: 119%;
            display: flex;
        }
    } */
    &__link {
        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 130%;
            letter-spacing: 1.2px;
            color: #FFFFFF;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            position: absolute;
            bottom: 22px;
            left: 30px;
            margin: 0;
        }
    }
    // .services__icon
    &__icon {
        width: 40px;
        height: 40px;
        /* border: 2px solid #ffffff;
        border-radius: 50%; */
        /* background-image: url('../img/services/Ellipse6.svg'); 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;*/
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin: 0;
        cursor: pointer;
        img {
            width: 40px;
            height: 40px;
            /*  position: absolute;
            top: 32%;
            right: 37%; 
            padding: 1px 1px 1px 1px;*/
        }
    }
}

.title {}

.items {}

.item {}


/* 









*/


/* @media */

@media (max-width: 1160px) {
    .container {
        max-width: 1160px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .button-header {
        font-size: 0.8em;
        padding: 15px 24px;
        margin-left: 10px;
    }
    .main-block__title h2 {
        font-size: 2.175em;
        line-height: 55px;
    }
    .main-block__arrow {
        margin-left: 31px;
    }
}

@media (max-width: 1130px) {
    .container {
        max-width: 1010px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .button-header {
        font-size: 0.6em;
        padding: 15px 20px;
    }
    .main-block__content {
        max-width: 580px;
    }
    .main-block__title h2 {
        line-height: 49px;
    }
    .main-block__arrow {
        margin-left: 4px;
        svg {
            width: 84px;
        }
    }
    /* .main-form__title {
        font-size: 1.125em;
        line-height: 22px;
        margin-top: 25px;
        margin-bottom: 13px;
    }
    .main-form__info {
        line-height: 19px;
        margin-bottom: 20px;
    }
    .input-file__text {
        font-size: 0.8125em;
        span {
            font-size: 0.75em;
        }
    }
    .input-calculate__button2 {
        text-transform: lowercase;
        padding: 10px 19px;
    }
    .input-calculate__info {
        font-size: 1em;
        line-height: 16px;
        span {
            font-size: 0.75em;
            line-height: 14px;
        }
    }
    .form-item--five {
        width: 100%;
        padding: 0px -10px;
        margin: 0px 0px 0px 2px;
    }
    .form-item__label2 {
        font-size: 0.625em;
        display: inline-block;
        a {
            display: inline-block;
        }
    } */
    .advantage__item {
        flex: 0 1 50%;
    }
}